
*{
  margin: 0;
  font-family: Montserrat;
  
}


.App{
  background-image: url('../src/img/MN1.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position-y: center;
  background-position-x: center;
  background-size: 250%;
}